<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autoID</key>
		<integer>2</integer>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA5AIAAAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNjaGFsbGEABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAACi6CgAAAAAACAAAAAQDAABA
		4BUAAAAAAAgAAAAEAwAASeAVAAAAAAAIAAAABAMAAHvfQAAAAAAACAAAAAQD
		AACPQEACAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHCV1qElP81GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAADEMPVlCAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcE+xfMg
		F+gkAAAAAQEAADc0ODQ4RTFFLTg2OUMtNDQxOC05MTNGLTIwMzcxRDkxMzkx
		NRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADoAAAAAQIAADk1NTUxMTM2MjgwOTIyOWI1ZDcyOTkyZGQyZjVm
		NDJlMDczN2I1NTE7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
		MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
		ZTswMTswMTAwMDAwNDswMDAwMDAwMDAyNDA0MDhmOzAxOy91c2Vycy9zY2hh
		bGxhL2xpYnJhcnkvYXV0b3NhdmUgaW5mb3JtYXRpb24vdW5zYXZlZCB4Y29k
		ZSBkb2N1bWVudC54Y3dvcmtzcGFjZQDMAAAA/v///wEAAAAAAAAAEAAAAAQQ
		AAB8AAAAAAAAAAUQAADoAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAA
		AAIgAADgAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAA
		AAAAABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADs
		AQAAAAAAAAHAAAA0AQAAAAAAABHAAAAUAAAAAAAAABLAAABEAQAAAAAAAIDw
		AAD0AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2020-07-04T02:19:54Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
